html, body, div, section {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
  display: flex;
  background: #000;
  justify-content: center;
}
section {
width: 100%;
}
p {
  text-align: center;
  color: #fff;
}

.principal{
 max-width: 960px;
 height: 100%;
 display: flex;
 flex-wrap: wrap;

}
.div1{
  background: #f0f;
  flex: 1 1 100%;
}
.div2{
  background: #00f;
  flex: 1 1 50%;
  min-height: 400px;
}
.div3{
  background: #f00;
  flex: 1 1 50%;
  min-height: 400px;
}
.div4{
  background: #0f0;
  flex: 2 1;
}
.div5{
  background: #a6f;
  flex: 1 1;
}
.div6{
  background: #0ff;
  flex: 1 1 100%;
}